.searchPage {
  margin: 30px 0;
}

.card {
  margin: 0 40px;
  padding: 30px;
  border-radius: 30px;
  background-color: #fff;
}

.title {
  font-size: 32px;
  color: #3d4049;
  margin-bottom: 20px;
  font-weight: bold;
}

@media (max-width: 668px) {
  .searchPage {
    margin: 30px 0;
  }

  .card {
    margin: 0 15px 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
