.title {
  height: 118px;
  line-height: 118px;
  font-size: 40px;
  padding: 0 40px;
  font-weight: bold;
}
.card {
  background-color: #fff;
  margin: 0 40px 30px;
  padding: 30px;
  border-radius: 30px;
}

.detail > div {
  word-wrap: break-word;
  font-size: 20px;
  line-height: 56px;
  color: #333;
  padding-left: 28px;
  background: url("/images/blockIcon/age.png") no-repeat 0 50% / 18px auto;
}
.detail > div:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.detail .copyBtn {
  margin-left: 10px;
  padding: 10px 8px;
}

.detail > div > span:nth-child(1) {
  display: inline-block;
  width: 254px;
}

.detail > div:nth-child(2) {
  background-image: url("/images/txIcon/block.png");
}
.detail > div:nth-child(3) {
  background-image: url("/images/txIcon/ft.png");
}
.detail > div:nth-child(4) {
  background-image: url("/images/txIcon/age.png");
}
.detail > div:nth-child(5) {
  background-image: url("/images/txIcon/amount.png");
}
.detail > div:nth-child(6) {
  background-image: url("/images/txIcon/txnfee.png");
}

.detail .pcAddress > i {
  padding: 10px 50px;
  background: url("/images/next.png") no-repeat center / 15px 10px;
}

.detail .mobileAddress,
.detail .mobileAddress_icon {
  display: none;
}

@media (max-width: 668px) {
  .title {
    height: 54px;
    line-height: 54px;
    font-size: 20px;
    padding: 0 15px;
  }
  .card {
    margin: 0 15px 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .detail > div {
    font-size: 16px;
    line-height: 22px;
    padding: 10px 0 10px 22px;
    background-size: 15px auto;
    background-position-y: 14px;
  }

  .detail .copyBtn {
    margin-left: 10px;
    padding: 8px 5px;
  }

  .detail div > span:nth-child(1) {
    width: fit-content;
    float: left;
    padding-right: 4px;
  }
  .detail .address > span:nth-child(1) {
    float: none;
  }

  .detail div > span:nth-child(1)::after {
    font-size: 16px;
    content: ":";
  }

  .detail .pcAddress {
    display: none;
  }
  .detail .mobileAddress {
    display: block;
    overflow: hidden;
    transition: all 0.3s;
    color: #666;
  }
  .detail .mobileAddress_icon {
    display: inline-block;
    transition: all 0.3s;
    float: right;
    width: 16px;
    height: 12px;
    background: url("/images/select_icon.png") no-repeat center / 100%;
  }
}
