.gcPage {
}

.title {
  font-size: 96px;
  font-weight: bolder;
  height: 262px;
  line-height: 262px;
  padding-left: 40px;
}

.gcContainer {
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 创建三列 */
  gap: 30px;
  margin-bottom: 90px;
}
.gcContainer > div {
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  box-sizing: border-box;
  height: 500px;
  padding: 30px;
  box-shadow: 0 0 0 2px #000;
}
.gcContainer > div::after {
  content: "";
  box-shadow: 0 0 0 2px #000;
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 0px;
  background-color: #b5b3b3;
  z-index: -1;
}
