.txsPage {
}

.txsPage h1 {
  font-size: 96px;
  font-weight: bolder;
  height: 262px;
  line-height: 262px;
  background: url("/images/refresh.png") no-repeat;
  background-size: 58px 62px;
  background-position: 650px 104px;
  padding-left: 40px;
}

.tableContainer {
  margin: 0 40px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
}
