.table {
  min-height: 300px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
  white-space: nowrap;
}

.table thead > tr {
  background-color: #a8d778;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
}
.table thead > tr > th,
.table tbody > tr > td {
  padding: 0 10px;
  font-weight: 400;
}
.table thead > tr > th:first-child,
.table tbody > tr > td:first-child {
  padding-left: 20px;
  border-radius: 10px 0 0 10px;
}
.table thead > tr > th:last-child,
.table tbody > tr > td:last-child {
  padding-right: 20px;
  border-radius: 0 10px 10px 0;
}

.table tbody > tr {
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  font-weight: 500;
}

.table tbody > tr:nth-child(even) {
  background-color: #fbffd2;
}

.noData {
  background: url("/images/no_data.png") no-repeat;
  background-size: 190px 170px;
  background-position: center;
  text-align: center;
  padding-top: 200px;
}

.loading {
  text-align: center;
  font-size: 24px;
  color: #999;
  padding: 30px;
}

.table a:hover {
  text-decoration: underline;
}

.table a {
  color: #569341;
}
.to {
  position: relative;
}
.to::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 100%;
  background: url("/images/next.png") no-repeat 100%/100%;
  top: 0;
  left: -26px;
}

@media (max-width: 668px) {
  .table thead > tr {
    height: 44px;
    line-height: 44px;
    font-size: 16px;
  }
  .table thead > tr > th,
  .table tbody > tr > td {
    padding: 0 5px;
  }
  .table thead > tr > th:first-child,
  .table tbody > tr > td:first-child {
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
  }
  .table thead > tr > th:last-child,
  .table tbody > tr > td:last-child {
    padding-right: 10px;
    border-radius: 0 5px 5px 0;
  }

  .table tbody > tr {
    font-size: 20px;
    height: 44px;
    line-height: 44px;
  }

  .noData {
    background: url("/images/no_data.png") no-repeat;
    background-size: 96px 85px;
    background-position: center;
    text-align: center;
    padding-top: 200px;
  }

  .loading {
    font-size: 16px;
    padding: 30px;
  }

  .to {
    position: relative;
  }
  .to::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 100%;
    background: url("/images/next.png") no-repeat 100%/100%;
    top: 0;
    left: -26px;
  }
}

.mb_th {
  line-height: 20px;
  padding: 10px 0;
}
.mb_td {
  padding: 14px 0;
  line-height: 24px;
}
