.table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
}

.table thead {
}
.table thead > tr {
  background-color: #a8d778;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
}

.table tbody > tr {
  font-size: 24px;
  height: 80px;
  line-height: 80px;
}
.table tbody > tr > td {
  overflow: hidden;
  padding: 0 15px;
}

.table tbody > tr:nth-child(even) {
  background-color: #fbffd2;
}
