.table {
  min-height: 300px;
}
.table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
  white-space: nowrap;
}

.table thead > tr {
  background-color: #a8d778;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
}
.table thead > tr > th {
  padding: 0 10px;
}
.table thead > tr > th:first-child {
  padding-left: 20px;
  border-radius: 10px 0 0 10px;
}
.table thead > tr > th:last-child {
  padding-right: 20px;
  border-radius: 0 10px 10px 0;
}

.table tbody > tr {
  font-size: 24px;
  height: 80px;
  line-height: 80px;
}
.table tbody > tr > td {
  padding: 0 10px;
}
.table tbody > tr > td > div {
  overflow: hidden;
}
.table tbody > tr > td:first-child {
  padding-left: 20px;
  border-radius: 10px 0 0 10px;
}

.table tbody > tr > td:last-child {
  padding-right: 20px;
  border-radius: 0 10px 10px 0;
}

.table tbody > tr:nth-child(even) {
  background-color: #fbffd2;
}

.noData {
  background: url("/images/no_data.png") no-repeat;
  background-size: 190px 170px;
  background-position: center;
  text-align: center;
  padding-top: 200px;
}

.loading {
  text-align: center;
  font-size: 24px;
  color: #999;
  padding: 30px;
}
