html,
body,
ul,
ol,
img,
h1,
main,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

i {
  font-style: normal;
  color: inherit;
  font-size: inherit;
}

html,
body {
  background: #f4f9f8;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
}
.fl_jc {
  justify-content: center;
}
.fl_jb {
  justify-content: space-between;
}
.fl_ja {
  justify-content: space-around;
}

.fl_ac {
  align-items: center;
}

.fl_as {
  align-items: self-start;
}
.fl_ae {
  align-items: self-end;
}

.color_primary {
  color: #569341 !important;
}

.weight_5 {
  font-weight: 500 !important;
}
.weight_6 {
  font-weight: 600 !important;
}
.weight_7 {
  font-weight: 700 !important;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
