.homeInfo {
  flex-direction: column;
  padding-right: 25px;
}

.welcome {
  width: 742px;
  font-size: 96px;
  line-height: 116px;
  font-weight: 400;
}
.welcome > img {
  width: 80px;
  height: 78px;
  margin-left: 16px;
  display: inline-block;
  margin-bottom: -12px;
  animation: wave 1.5s ease-in-out infinite;
}

.place {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 668px) {
  .homeInfo {
    padding-right: 0;
  }
  .welcome {
    width: 280px;
    font-size: 34px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 18px;
  }
  .welcome > img {
    width: 31px;
    height: 30px;
    margin-bottom: -6px;
  }
  .place {
    display: none;
    width: 281px;
    margin-top: 25px;
  }
}

@keyframes wave {
  10%,
  30% {
    transform: rotate(20deg);
  }
  20%,
  40% {
    transform: rotate(-20deg);
  }
  0%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(0deg);
  }
}
