.rootBox {
    display: flex;
    height: 30px;
    width: 100%;
    border-radius: 15px;
    background-color: #E0E5E4;
    margin-bottom: 10px;
}

.selector {
    display: flex;
    border-radius: 15px;
}

.selected {
    background-color: #A8D778;
}