.footerComponent {
  padding: 40px;
  background-color: #a8d778;
}

.footerComponent > div:nth-child(1) img {
  width: 334px;
  height: auto;
}

.footerComponent > div:nth-child(2) p {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  line-height: 36px;
  cursor: pointer;
}
