.searchComponent_common,
.searchComponent_home {
  position: relative;
}

.searchComponent_common input::placeholder,
.searchComponent_home input::placeholder {
  color: #999;
  font-size: 18px;
}

.searchComponent_common input:focus,
.searchComponent_home input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.searchComponent_common input {
  box-sizing: border-box;
  font-size: 18px;
  height: 80px;
  width: 100%;
  padding: 0 40px;
  border: 2px solid #000;
  border-right: none;
  border-left: none;
}

.searchComponent_common .btn {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  top: 0;
  right: 0;
  border: 2px solid #000;
  border-right: none;
  width: 152px;
  background: url("/images/btnBg_pc.png") no-repeat center #a8d778;
  background-size: 70px 44px;
}

/* home page style */

.searchComponent_home input {
  box-sizing: border-box;
  font-size: 18px;
  height: 80px;
  width: 100%;
  padding-left: 20px;
  padding-right: 150px;
  border: 2px solid #000;
  border-right: none;
  border-radius: 0 40px 40px 0;
}

.searchComponent_home .btn {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  border-radius: 40px;
  top: 0;
  right: 0;
  border: 2px solid #000;
  /* box-shadow: 0 0 0 2px #000; */
  background-color: #91ac76;
  width: 130px;
}
.searchComponent_home .btn > span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  box-shadow: 0 0 0 2px #000;
  background: url("/images/btnBg_pc_home.png") no-repeat center #a8d778;
  background-size: 60px 44px;
  transform: translateY(-8px);
  transition: all 0.2s;
}

.searchComponent_home .btn:active > span {
  transform: translateY(0px);
}

@media (max-width: 668px) {
  .searchComponent_common input::placeholder,
  .searchComponent_home input::placeholder {
    font-size: 12px;
  }

  .searchComponent_common input {
    font-size: 14px;
    height: 48px;
    padding: 0 73px 0 15px;
    border-width: 1px;
  }

  .searchComponent_common .btn {
    border: 1px solid #000;
    width: 58px;
    background: url("/images/btnBg_mobile.png") no-repeat center #a8d778;
    background-size: 23px 27px;
  }

  /* home page style */

  .searchComponent_home input {
    font-size: 14px;
    height: 48px;
    padding-left: 10px;
    padding-right: 80px;
    border: 1px solid #000;
    border-radius: 0 24px 24px 0;
  }

  .searchComponent_home .btn {
    border-radius: 24px;
    border: 1px solid #000;
    width: 70px;
  }

  .searchComponent_home .btn > span {
    border-radius: 24px;
    box-shadow: 0 0 0 1px #000;
    background: url("/images/btnBg_mobile_home.png") no-repeat center #a8d778;
    background-size: 33px 21px;
    transform: translateY(0px);
    height: calc(100% - 4px);
  }

  .searchComponent_home .btn:active > span {
    height: 100%;
  }
}
