.title {
  height: 118px;
  line-height: 118px;
  font-size: 40px;
  padding: 0 40px;
}

.card {
  background-color: #fff;
  margin: 0 40px 30px;
  padding: 30px;
  border-radius: 30px;
}

.detail div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 56px;
  font-size: 20px;
  color: #333;
}

.detail div > span:nth-child(1) {
  display: block;
  width: 254px;
  flex-shrink: 0;
  padding-left: 28px;
  background: url("/images/blockIcon/age.png") no-repeat;
  background-size: 18px auto;
  background-position: 0 center;
}

.detail div > span:nth-child(2) {
  font-weight: bold;
}

.detail div:nth-child(2) > span:nth-child(1) {
  background-image: url("/images/blockIcon/hash.png");
}
.detail div:nth-child(3) > span:nth-child(1) {
  background-image: url("/images/blockIcon/phash.png");
}
.detail div:nth-child(4) > span:nth-child(1) {
  background-image: url("/images/blockIcon/total.png");
}
.detail div:nth-child(5) > span:nth-child(1) {
  background-image: url("/images/blockIcon/proposer.png");
}
.detail div:nth-child(6) > span:nth-child(1) {
  background-image: url("/images/blockIcon/gaslimit.png");
}
.detail div:nth-child(7) > span:nth-child(1) {
  background-image: url("/images/blockIcon/basefee.png");
}
.detail div:nth-child(8) > span:nth-child(1) {
  background-image: url("/images/blockIcon/burntfee.png");
}
.detail div:nth-child(9) > span:nth-child(1) {
  background-image: url("/images/blockIcon/blockrew.png");
}
.detail div:nth-child(10) > span:nth-child(1) {
  background-image: url("/images/blockIcon/validators.png");
}
