.flex img {
  width: 80px;
  height: 80px;
}

.title {
  height: 118px;
  line-height: 118px;
  font-size: 40px;
  padding: 0 40px;
}

.gcTitle {
  padding: 40px 40px 30px;
  display: flex;
  font-size: 40px;
  font-weight: 500px;
}

.gcTitle img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  object-fit: contain;
  flex-shrink: 0;
}

.card {
  background-color: #fff;
  margin: 0 40px 30px;
  padding: 30px;
  border-radius: 30px;
}

.detail div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 20px;
  line-height: 56px;
  color: #333;
  display: flex;
  align-items: flex-start;
}

.detail div > span:nth-child(1) {
  display: block;
  width: 254px;
  flex-shrink: 0;
  padding-left: 28px;
  background: url("/images/addressIcon/label.png") no-repeat;
  background-size: 18px auto;
  background-position: 0 center;
}

.detail div > span:nth-child(2) {
  font-weight: 500;
}

.gcAddress span {
  font-weight: normal;
  font-size: 20px;
  line-height: 56px;
}
.gcAddress span:nth-child(1) {
  display: inline-block;
  width: 100px;
  color: #666;
  text-transform: capitalize;
}

.detail div:nth-child(2) > span:nth-child(1) {
  background-image: url("/images/addressIcon/address.png");
}

.detail div:nth-child(3) > span:nth-child(1) {
  background-image: url("/images/addressIcon/balance.png");
}

.detail div:nth-child(4) > span:nth-child(1) {
  background-image: url("/images/addressIcon/key.png");
}
.detail div:nth-child(5) > span:nth-child(1) {
  background-image: url("/images/addressIcon/total.png");
}
