.title {
  height: 118px;
  line-height: 118px;
  font-size: 40px;
  padding: 0 40px;
}

.gcTitle {
  padding: 40px 40px 30px;
  display: flex;
  font-size: 40px;
  font-weight: 500px;
}

.gcTitle img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  object-fit: contain;
  flex-shrink: 0;
}

.card {
  background-color: #fff;
  margin: 0 40px 30px;
  padding: 30px;
  border-radius: 30px;
}

.detail > div {
  word-wrap: break-word;
  font-size: 20px;
  line-height: 56px;
  color: #333;
  padding-left: 28px;
  background: url("/images/addressIcon/label.png") no-repeat 0 50% / 18px auto;
}

.detail > div:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.detail > div > span:nth-child(1) {
  display: inline-block;
  width: 254px;
}

.detail .gcAddress {
  background-position-y: 16px;
  display: flex;
}

.detail > div:nth-child(2) {
  background-image: url("/images/addressIcon/address.png");
}

.detail > div:nth-child(3) {
  background-image: url("/images/addressIcon/balance.png");
}

.detail > div:nth-child(4) {
  background-image: url("/images/addressIcon/key.png");
}
.detail > div:nth-child(5) {
  background-image: url("/images/addressIcon/total.png");
}

@media (max-width: 668px) {
  .title {
    height: 54px;
    line-height: 54px;
    font-size: 20px;
    padding: 0 15px;
  }

  .gcTitle {
    padding: 15px;
    font-size: 20px;
  }

  .gcTitle img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
  }

  .card {
    margin: 0 15px 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .detail > div {
    font-size: 16px;
    line-height: 22px;
    padding: 10px 0 10px 22px;
    background-size: 15px auto;
    background-position-y: 14px;
  }

  .detail .gcAddress {
    background-position-y: 12px;
    display: block;
  }
  .detail .gcAddress > span:nth-child(1) {
    float: none;
  }
  .detail .gcAddress_icon {
    display: inline-block;
    transition: all 0.3s;
    float: right;
    width: 16px;
    height: 12px;
    margin-top: 2px;
    background: url("/images/select_icon.png") no-repeat center / 100%;
  }
  .detail .gcAddress div {
    overflow: hidden;
    transition: all 0.3s;
  }

  .detail .gcAddress p {
    padding: 4px 0;
  }
  .detail .gcAddress p:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .detail > div > span:nth-child(1) {
    width: fit-content;
    float: left;
    padding-right: 4px;
  }
  .detail > div > span:nth-child(1)::after {
    font-size: 16px;
    content: ":";
  }
}
