.emptyComponent {
  text-align: center;
  padding-top: 180px;
}
.emptyComponent > img {
  margin: 0 auto;
}
.emptyComponent > div {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin: 30px 0 10px;
}

.emptyComponent > p {
  font-size: 14px;
  color: #666;
}
.emptyComponent > p:last-child {
  margin-top: 20px;
}
