.navComponent {
  padding: 16px 40px 58px;
}

.logo img:nth-child(2) {
  margin-left: 25px;
}

.navComponent li {
  background-color: #b5b3b3;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #000;
  margin-left: 30px;
  cursor: pointer;
}

.navComponent li a {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #000;
  padding: 13px 20px;
  transform: translateY(-8px);
  transition: all 0.2s;
  display: block;
}

.navComponent a:active {
  transform: translateY(0px);
}
.navComponent a:hover {
  transform: translateY(0px);
}
/* .navComponent .active a {
  transform: translateY(0px);
} */
