.navComponent {
  padding: 16px 40px 58px;
}

.logo img:nth-child(2) {
  margin-left: 25px;
}
.navComponent li a {
  border-radius: 10px;
  border: 1px solid #000;
  margin-left: 30px;
  padding: 13px 20px;
}
